{% extends "home.njk" %}

{% block content %}

    <h1>CHAT</h1>

    <section class="messages">
        <div class="chat"></div>
    </section>

    <form id="chat-form">    
        <div class="chat-input">    
            <input type="hidden" name="username" value="Usuario"  placeholder="Digite seu usuario">
            <input type="text" name="message" placeholder="Digite sua mensagem">
        </div>
        <button class="button-chat" type="submit"><i class="fas fa-paper-plane" style="font-size: 2.5em;"></i></button>
    </form>


{% endblock %}