{% extends "home.njk" %}

{% block content %}

    <h1>CHAT</h1>

    <section class="message">
        <div class="messages"></div>
    </section>

    <form id="chat-form">    
        <div class="chat-input">    
            <input type="text" name="username"  placeholder="Digite seu usuario">        
            <input type="text" name="message" placeholder="Digite sua mensagem">
        </div>
        <button class="button-chat" type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>


{% endblock %}