{% extends "home.njk" %}

{%block content%}
    <h1>Consultas</h1>
    <form action="/save" method ="POST">
        <main class="form-medicamento">

            <div class="field-group">
                <div class="field">
                    <label for="name">Médico</label>
                    <input type="text" name="name" required="required">
                </div>

                <div class="field">
                    <label for="name">Especialidade</label>
                    <input type="text" name="qtd" required="required">
                </div>
            </div>

            <div class="field-group2">

                <div class="field">
                    <label for="name">Data</label>
                    <input type="date" name="date" required="required">
                </div>

                <div class="field">
                    <label for="name">Horário</label>
                    <input type="time" name="hour" required="required">
                </div>

            </div>

            <div class="field">
                <label for="name">Local</label>
                <input type="text" name="hour" required="required">
            </div>

            <button class="button-save">Salvar</button>
        </main>
    </form>
{%endblock%}
{% block javascript %}
<script>
    async function getContent(){
        try{
            const response = await fetch('http://localhost:8000/usuario');
            const data = await response.json();
            console.log(data);
        }catch(error){
            console.error(error);
        }
    }
    getContent();
</script>
{% endblock%}