{% extends "home.njk" %}


{%block content%}

        <form action="/save" method ="POST">
            <main class="form-exames">
                <h1>Exames</h1>

         <div class="field-group">
                    <div class="field">
                        <label for="name">Nome do exame:</label>
                        <input type="text" name="name" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Data do exame:</label>
                        <input type="text" name="date" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Local do exame:</label>
                        <input type="text" name="local" required="required">
                    </div>

         </div>
                    
                    
                    <button class="button-save">Salvar</button>
            </main>
        
        
      </form>
{%endblock%}