{% extends "home.njk" %}



{% block content %}
        <form action="/savepoint" method ="POST">
            <main class="form-cuidador">
                <h1>Cadastro</h1>

                <div class="field-group">
                    <div class="field">
                        <label for="name">Nome Completo</label>
                        <input type="text" name="name" required="required">
                    </div>

                    <div class="field">
                        <label for="name">CPF</label>
                        <input type="text" name="cpf"
			                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
			                title="Digite um CPF no formato: xxx.xxx.xxx-xx" required="required">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="name">Data de nascimento</label>
                        <input type="date" name="birth" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Email</label>
                        <input type="email" name="mail" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Foto</label>
                        <input type="url" name="image" required="required">
                    </div>
                </div>

                <button class="button-save">Salvar</button>
            </main>
        </form>
{% endblock %}