{% extends "home.njk" %}


        {% block content %}   

        <h1>Cadastro</h1>
        <form action="/cuidadores" method ="POST">
            <main class="form-cuidador" id="form-cuidador">
                

                <div class="field-group">
                    <div class="field">
                        <label for="name">Nome Completo</label>
                        <input type="text" name="name" required="required">
                    </div>

                    <div class="field">
                        <label for="name">CPF</label>
                        <input type="text" name="cpf"
                                pattern="\d{3}\d{3}\d{3}\d{2}"
			                    placeholder="Digite um CPF no formato: xxx.xxx.xxx-xx"
			                    required="required">
                    
                    </div>                    
                
                    <div class="field">
                        <label for="name">Data de nascimento</label>
                        <input type="date" name="birth" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Email</label>
                        <input type="text" name="mail" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Foto</label>
                        <input type="text" name="image" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Crie um nome de usuário</label>
                        <input type="text" name="username" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Crie uma senha</label>
                        <input type="password" name="password" required="required">
                    </div>
                    
                </div>

                <button class="button-save" type="submit">Salvar</button>
            </main>
        </form>
{% endblock %}

