<form method="post" action="{{ path('exame_delete', {'exameId': exame.exameId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exame.exameId) }}">
    <button class="btn">Delete</button>
</form>
