{% extends 'base.html.twig' %}

{% block title %}Edit Exame{% endblock %}

{% block body %}
    <h1>Edit Exame</h1>

    {{ include('exame/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exame_index') }}">back to list</a>

    {{ include('exame/_delete_form.html.twig') }}
{% endblock %}
