{% extends 'base.html.twig' %}

{% block title %}New Idoso{% endblock %}

{% block body %}
    <h1>Create new Idoso</h1>

    {{ include('idoso/_form.html.twig') }}

    <a href="{{ path('idoso_index') }}">back to list</a>
{% endblock %}
