{% extends "home.njk" %}


    {%block content%}
        <form action="/save" method ="POST">
            <main class="form-medicamento">
                <h1>Medicamentos</h1>

                <div class="field-group">
                    <div class="field">
                        <label for="name">Medicamentos</label>
                        <input type="text" name="name" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Quantidade</label>
                        <input type="text" name="qtd" required="required">
                    </div>
                    
                    <div class="field">
                        <label for="name">Dosagem</label>
                        <input type="text" name="dose" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Data Inicio</label>
                        <input type="date" name="date-begin" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Data Fim</label>
                        <input type="date" name="date-end" required="required">
                    </div>

                    <div class="field">
                        <label for="name">Horário</label>
                        <input type="time" name="hour" required="required">
                    </div>
                </div>

                <button class="button-save">Salvar</button>
            </main>
        </form>
{%endblock%}