<form method="post" action="{{ path('cuidador_delete', {'cuidadorId': cuidador.cuidadorId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuidador.cuidadorId) }}">
    <button class="btn">Delete</button>
</form>
