{% extends 'base.html.twig' %}

{% block title %}Edit Cuidador{% endblock %}

{% block body %}
    <h1>Edit Cuidador</h1>

    {{ include('cuidador/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cuidador_index') }}">back to list</a>

    {{ include('cuidador/_delete_form.html.twig') }}
{% endblock %}
